  .sheepStyle{
      margin-top: 50px;
      margin-left: 50px;
      
  }
.bodyBack{
 /* background: url('mountan.png') no-repeat left bottom/100% 100%, url('body2.jpg') no-repeat left top/100% 100%;*/
 background: url('body2.jpg') no-repeat left top/100% 100%;
  z-index: -9;
position: relative;
overflow: hidden;

}
.footer {
  position: absolute;
  left: -5%;
  bottom: -5%;  
  z-index: -8;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.root{
animation: spin 50s linear 0s infinite;
overflow: hidden;
}
  .sleepAnim{
    animation: skew 3s infinite;
    transform: translate3d(0, -7%, 0);
    animation-direction: alternate;
  }
  @keyframes skew {
    0% {
      transform: translate3d(0, -7%, 0);
    }
    100% {
      transform: translate3d(0, 7%, 0);
    }
   
  }
  .wave {
    
    animation: skew2 1s infinite;
    transform: skew2(50deg);
    animation-direction: alternate;
 
  }
  
  .wave2 {
    
    animation: skew3 3s infinite;
    transform: skew3(60deg);
    animation-direction: alternate;
 
  }
  .wave3 {
    
    animation: skew4 1s infinite;
    transform: skew4(25deg);
    animation-direction: alternate;
 
  }
  @keyframes skew4 {
    0% {
      transform: skewX(25deg);
    }
    100% {
      transform: skewX(-25deg);
    }
  }

  @keyframes skew2 {
    0% {
      transform: skewX(50deg);
    }
    100% {
      transform: skewX(-50deg);
    }
  }

  @keyframes skew3 {
    0% {
      transform: skewX(60deg);
    }
    100% {
      transform: skewX(-60deg);
    }
  }

  .bulbAnim {
    align-self:flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;    
    transform-origin: bottom;
    color: aliceblue;
   
}
.bulbAnim2 {
  align-self:flex-end;
  animation-duration: 4s;
  animation-iteration-count: infinite;    
  transform-origin: bottom;
  color: aliceblue;
 
}
.bulbAnim3 {
  align-self:flex-end;
  animation-duration: 5s;
  animation-iteration-count: infinite;    
  transform-origin: bottom;
  color: aliceblue;
 
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); opacity: 1;}
    20%   { transform: translateY(-10%); opacity: 0.5;}
    50%  { transform: translateY(-20%); opacity: 0;}
    100% { transform: translateY(-30%); opacity: 0;}
}
.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: linear;
}
@keyframes bounce-2 {
  0%   { transform: translateY(0); opacity: 1;}
  50%  { transform: translateY(-50%); opacity: 0;} 
 
  100% { transform: translateY(0); opacity: 0;}
}
.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: linear;
}
@keyframes bounce-3 {
  0%   { transform: translateY(0); opacity: 1;}
  20%  { transform: translateY(-10%); opacity: 0.8;}
  40%  {transform:  translateY(-20%);opacity: 0;}
  60%  {transform:  translateY(-30%);opacity: 0;}
  80%  {transform:  translateY(-40%);opacity: 0;}
  100% { transform: translateY(-50%); opacity: 0;}
}